.game-outer-container{
    display: flex;
    width: 100%;
    height: 980px;
    background-color: rgb(44, 38, 38);
    margin: 0;
}

.game-container{
    background-color: dimgray;
    border-radius: 4px;
}

#pong{
    border-left: 3px solid #FFF;
    border-right: 3px solid #FFF;
    position: absolute;
    margin :auto;
    top:0;
    right:0;
    left:0;
    bottom:0;
    border-radius: 4px;
}

.player {
    width: 20%;
    height: 100%;
    /* margin-right: 400px; */
    /* margin: auto; */
    /* background-color: violet; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-empty {
    width: 60%;
    visibility: hidden;
}

.player-container {
    /* background-color: rgb(173, 160, 160); */
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    /* border-radius: 10px; */
    /* border-right: 2px solid sandybrown; */
}

.image-container {
    display: flex;
    justify-content: center;
}

.player-image {
    border: 2px solid #FFF;
    width: 60%;
    border-radius: 100%;
}

.player-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: auto;
}

.player-id {
    font-size: 30px;
    color: white;
}

.player-rating {
    color: white;
    font-size: 18px;
}